@using WebsiteBanDogo.Models
@model List<LOAIHANG>


@foreach (var item in Model)
{
    <div class="panel panel-default">
        <a href="@Url.Action("SanPhamTheoLoaiDoGo", new { id = item.MaLoaiHang })">
            <div class="panel-heading" style="background-color: Highlight;">
                <h3 class="panel-title" style="color: black;"> @item.TenLoaiHang </h3>
            </div>
        </a>
    </div>
}


