
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Layout/LayoutUser.cshtml";
}

<h2>Đơn hàng đã được chấp nhận</h2>

<p>
    @Html.ActionLink("Về Trang Chủ", "Index", "DoGoStore")
</p>

