
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Layout/LayoutUser.cshtml"; 
}

<h2>Cảm ơn bạn đã mua sản phẩm ở chỗ chúng tôi.</h2>
<h2>Sản phẩm bạn chọn sẽ được gửi trong thời gian sớm nhất.</h2>

<p>
    @Html.ActionLink("Về Trang Chủ", "Index", "DoGoStore")
</p>