 @using WebsiteBanDogo.Models
@model

@foreach (var item in Model)
{
    @item.
    <div class="progress progress-striped active">
        <div class="bar" style="width: @item. %;"></div>
    </div>
}
