 
@{
    ViewBag.Title = "dangnhap";
    Layout = null ;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Login Form</title>
    @*<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>*@
    <link href="~/Content/CssAdmin/Bootstrap.css" rel="stylesheet" />
    <link href="~/Content/CssAdmin/Style.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="form-signin">
            <div>
                <h2 class="form-signin-heading">TRANG ADMIN</h2>
                <h4 style="color:red; text-align:center; font-size: 20px;"> @ViewBag.Thongbao</h4>
            </div>
            @using (Html.BeginForm("dangnhap", "Admin", FormMethod.Post))
            {
                <div>
                    <p>Tên đăng nhập:</p>
                    <input type="text" name="TenDangNhapAdmin" placeholder="Tên đăng nhập...." class="form-control" required />
                    @*<p><strong style="color: red;">@ViewData["txtTenDangNhap"]</strong></p>*@
                </div>
                <div>
                    <p>Mật khẩu:</p>
                    <input type="password" name="MatKhauAdmin" placeholder="Mật khẩu....." class="form-control" required />
                    @*<p><strong style="color: red;">@ViewData["txtMatKhau"] </strong></p>*@
                </div>
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="ĐĂNG NHẬP" />

            }
        </div>
    </div>
</body>
</html>
