<!--recommended_items-->
<h2 class="title text-center">SẢN PHẨM BÁN CHẠY</h2>
<font>
    <marquee id="marq" scrollamount="10" direction="left" loop="INFINITE" scrolldelay="0" behavior="scroll" onmouseover="this.stop()" onmouseout="this.start()">
        <font color="white">@Html.Action("layHangBanChayitem", "DoGoStore")</font>
    </marquee>
</font>
