<p>Số Người đang online: <p style="font-weight: bold; color: red;">@ViewBag.songuoidangonline</p></p>
<p>Số người đã ghe thăm website: <p style="font-weight: bold; color: red;">@ViewBag.soNguoiOnline</p></p>
