<ul>
    <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> Dashboard<i class="fa fa-collapse"></i></a></li>
    <li>
        <ul class="dashboard-menu nav nav-list collapse in">
            <li><a href="/AdminQL/Index"><span class="fa fa-caret-right"></span>Trang Chủ</a></li>
            <li><a href="/AdminKhachHang/dsKhachHang"><span class="fa fa-caret-right"></span>danh sách khách hàng</a></li>
            @*<li><a href="user.html"><span class="fa fa-caret-right"></span>Chi tiết đơn hàng</a></li>*@ 
        </ul>
    </li> 
    @*<li data-popover="true" data-content="Items in this group require a <strong><a href='http://portnine.com/bootstrap-themes/aircraft' target='blank'>premium license</a><strong>." rel="popover" data-placement="right"><a href="#" data-target=".premium-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-fighter-jet"></i> Premium Features<i class="fa fa-collapse"></i></a></li>
    <li>
        <ul class="premium-menu nav nav-list collapse">
            <li class="visible-xs visible-sm"><a href="#">- Premium features require a license -</a></span>
            <li><a href="premium-profile.html"><span class="fa fa-caret-right"></span> Enhanced Profile</a></li>
            <li><a href="premium-blog.html"><span class="fa fa-caret-right"></span> Blog</a></li>
            <li><a href="premium-blog-item.html"><span class="fa fa-caret-right"></span> Blog Page</a></li>
            <li><a href="premium-pricing-tables.html"><span class="fa fa-caret-right"></span> Pricing Tables</a></li>
            <li><a href="premium-upgrade-account.html"><span class="fa fa-caret-right"></span> Upgrade Account</a></li>
            <li><a href="premium-widgets.html"><span class="fa fa-caret-right"></span> Widgets</a></li>
            <li><a href="premium-timeline.html"><span class="fa fa-caret-right"></span> Activity Timeline</a></li>
            <li><a href="premium-users.html"><span class="fa fa-caret-right"></span> Enhanced Users List</a></li>
            <li><a href="premium-media.html"><span class="fa fa-caret-right"></span> Enhanced Media</a></li>
            <li><a href="premium-invoice.html"><span class="fa fa-caret-right"></span> Invoice</a></li>
            <li><a href="premium-build.html"><span class="fa fa-caret-right"></span> Advanced Tools</a></li>
            <li><a href="premium-colors.html"><span class="fa fa-caret-right"></span> Additional Color Themes</a></li>
        </ul>
    </li>*@

    <li><a href="#" data-target=".accounts-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-briefcase"></i> Tài khoản <span class="label label-info">+3</span></a></li>
    <li>
        <ul class="accounts-menu nav nav-list collapse">
            <li><a href="#"><span class="fa fa-caret-right"></span>QL Admin</a></li>
            <li><a href="@Url.Action("DangXuat", "AdminQL")"><span class="fa fa-caret-right"></span>Đăng xuất</a></li>
            <li><a href="#"><span class="fa fa-caret-right"></span> Đổi mật khẩu</a></li>
        </ul>
    </li>

    <li><a href="#" data-target=".legal-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-legal"></i> Hàng hóa<i class="fa fa-collapse"></i></a></li>
    <li>
        <ul class="legal-menu nav nav-list collapse">
            <li><a href="/AdminKhoHang/HienSanPham"><span class="fa fa-caret-right"></span>Sản phẩm</a></li>
            <li><a href="/AdminKhoHang/HienLoaiSanPham"><span class="fa fa-caret-right"></span>Loại sản phẩm</a></li>
        </ul>
    </li>

    @*<li><a href="help.html" class="nav-header"><i class="fa fa-fw fa-question-circle"></i> Help</a></li>
    <li><a href="faq.html" class="nav-header"><i class="fa fa-fw fa-comment"></i> Faq</a></li>
    <li><a href="http://portnine.com/bootstrap-themes/aircraft" class="nav-header" target="blank"><i class="fa fa-fw fa-heart"></i> Get Premium</a></li>*@
</ul>
