
@{
    ViewBag.Title = "DangNhap";
    Layout = null;
}

@using (Html.BeginForm())
{
    <input type="text" placeholder="dang nhap ..." name="TenDangNhap" id="TenDangNhap" class="form-control" />
    <input type="text" placeholder="dang nhap ..." name="MatKhau" id="MatKhau" class="form-control" />
    <button type="submit" class="btn btn-primary">dang nhpo</button>
}

