
<!--Footer-->
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="companyinfo">
                    <a href="@Url.Action("Index","DoGoStore")" class="active">
                        <img src="~/Pictures/Logo/logo7.png" alt="DoGoCuongThai.jpg" class="img-responsive" style="height: 70px; width: 350px;" />
                    </a>
                    <p style="font-size: 16px;">Nơi bạn gặt hái thành công.</p>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="col-sm-3">
                    <a href="https://www.facebook.com/profile.php?id=100004974873010">
                        <div class="video-gallery text-center">
                            <div class="iframe-img">
                                @*<img src="images/home/iframe1.png" alt="" />*@
                                <img src="~/Pictures/imagesTemplate/home/iframe1.png" />
                            </div>
                            <div class="overlay-icon">
                                <i class="fa fa-play-circle-o"></i>
                            </div>
                            <p>Đặng Dường Cường</p>
                            <h2>Chủ sáng lập</h2>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="https://www.facebook.com/kang.nguyen.900">
                        <div class="video-gallery text-center">
                            <div class="iframe-img">
                                @*<img src="images/home/iframe2.png" alt="" />*@
                                <img src="~/Pictures/imagesTemplate/home/iframe2.png" />
                            </div>
                            <div class="overlay-icon">
                                <i class="fa fa-play-circle-o"></i>
                            </div>
                            <p>Nguyễn Minh Thái</p>
                            <h2>Đồng sáng lập</h2>
                        </div>
                    </a>
                </div>
                <div class="col-sm-3">
                    <a href="https://www.facebook.com/kang.nguyen.900">
                        <div class="video-gallery text-center">
                            <div class="iframe-img">
                                @*<img src="images/home/iframe2.png" alt="" />*@
                                <img src="~/Pictures/imagesTemplate/home/iframe2.png" />
                            </div>
                            <div class="overlay-icon">
                                <i class="fa fa-play-circle-o"></i>
                            </div>
                            <p>Nguyễn Minh Thái</p>
                            <h2>Đồng sáng lập</h2>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="address"> 
                    <img src="/Pictures/Map.PNG" alt="map.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-widget">
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <div class="single-widget">
                    <h2>Service</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="https://www.facebook.com/DoGoCuongThai/">Facebook</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Change Location</a></li>
                        <li><a href="#">FAQ’s</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="single-widget">
                    <h2>Quock Shop</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#SPBANCHAY">Sản phẩm bán chạy</a></li>
                        <li><a href="#">Mens</a></li>
                        <li><a href="#">Womens</a></li>
                        <li><a href="#">Gift Cards</a></li>
                        <li><a href="#">Shoes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="single-widget">
                    <h2>Policies</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privecy Policy</a></li>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="#">Billing System</a></li>
                        <li><a href="#">Ticket System</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="single-widget">
                    <h2>ĐỒ GỖ CƯỜNG THÁI</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="@Url.Action("LienHeCuaHang", "DoGoStore")">Liên hệ</a></li>
                        <li><a href="@Url.Action("GioiThieuCuaHang", "DogoStore")">Giới thiệu</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="single-widget">
                    <h2>About Shopper</h2>
                    <form action="#" class="searchform">
                        <input type="text" placeholder="Your email address" />
                        <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                        @*<span class="glyphicon glyphicon-time" style="font-size:14px;"></span> <span id="currentTime"></span>*@
                        <div class="clock">
                            <div id="Date"></div>
                            <ul id="time">
                                <li class="time" id="hours"></li>
                                <li class="time" id="point">:</li>
                                <li class="time" id="min"></li>
                                <li class="time" id="point">:</li>
                                <li class="time" id="sec"></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@*Div loading page*@
<div id="loading" style="position:absolute; width:100%; height:auto; text-align:center; top:250px;">
    <img src="~/Pictures/Logo/logo1.png" />
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <p class="pull-left"> Đặng Dường Cường - Nguyễn Minh Thái</p>
            @*<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Themeum</a></span></p>*@
        </div>
    </div>
</div>


<style>
    .clock {
    width: 230px;
    margin: 0 auto;  
    color: black;
}
 
#Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 18px; 
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}
 
 #time{
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 18px; 
    text-shadow: 0 0 5px #00c6ff; 
}
 
.time {
    display: inline;
    font-size: 18px;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}
 
#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}  
</style>